apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: appconfigs.ac.io
spec:
  group: ac.io
  names:
    kind: AppConfig
    plural: appconfigs
    singular: appconfig
    shortNames:
    - ac
  scope: Namespaced
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            required:
              - appName
              - namespace
              - data
            properties:
              appName:
                type: string
                pattern: ^[a-zA-Z0-9_-]$
              namespace:
                type: string
                pattern: ^[a-zA-Z0-9_-]$
              data:
                type: object
                additionalProperties: true
          status:
            type: object
            properties:
              lastUpdated:
                type: string
                format: date-time